body{
  background-color: #f7e4e4;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 20%;
  margin-left: 40%;
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  margin-top: 17px;
  background-color: #fff;

}

.button_submit{
  padding: 10px;
  margin-left: 35%;
  width: 30%;
  border-radius: 10px;
  border: 1px solid;
  margin-top: 12px;
}